<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1 class="display-1">{{ recipeName }}</h1>
    <h1 class="display-3">Today's date is <strong>{{ month }}/{{ day }}/{{ year }}</strong></h1><br><hr>
    <h4>Ingredients used are</h4>
    <ul>
      <li>{{ingredientName}}</li>
      <li>{{directionName}}</li>
    </ul>
    <img width="30" alt="Angular Logo" src="https://www.w3schools.com/images/lamp.jpg">
  </div>
    <h4>
      <div [class]="ratingColor(single)" *ngFor="let single of recipes">
        <ul>
          <li>{{single.title}}</li>
          <li>{{single.ingredient}}</li>
          <li>{{single.directions}}</li>
          <li>{{single.rating}}</li>
        </ul>
      <button class="waves-effect waves-teal btn-flat" (click)=addRecipe2(single)>Change Rating</button>
      <br>
      <button class="btn btn-info" (click)="finishEditing()">Finish Editing</button>
    </div>
    </h4>
    <hr>
    <h4>Selected Recipe: {{selectedRecipe.title}}</h4>
    <h4>Recipe's Rating: {{selectedRecipe.rating}}</h4>
  <label for="recipeName">Title of Recipe</label>
  <input [(ngModel)]="recipeName" type="text" name="recipeName" class="form-control"  placeholder="recipe name">
  <label for="ingredient">Ingredient name</label>
  <input [(ngModel)]="ingredientName" type="text" name="ingredient" class="form-control" id="ingredient" placeholder="ingredients">
  <label for="directions">Directions</label>
  <input [(ngModel)]="directionName" type="text" name="directions" class="form-control" id="directions" placeholder="directions">
  <form id="rating-form">
    <!-- <label for="recipeName">Recipe Name</label>
      <input type="text" name="recipeName" placeholder="{{selectedRecipe.title}}">
      <button type="button" class="btn btn-default">Update Name</button> -->
    <h3>Select the rating of the recipe:</h3>
    <label>
      <input type="radio" name="rating" [(ngModel)]="selectedRecipe.rating" [value]="1"> <h1>1</h1>
    </label>
    <label>
      <input type="radio" name="rating" [(ngModel)]="selectedRecipe.rating" [value]="2"> <h1>2</h1>
    </label>
    <label>
      <input type="radio" name="rating" [(ngModel)]="selectedRecipe.rating" [value]="3"> <h1>3</h1>
    </label>
    <label>
      <input type="radio" name="rating" [(ngModel)]="selectedRecipe.rating" [value]="4"> <h1>4</h1>
    </label>
    <label>
      <input type="radio" name="rating" [(ngModel)]="selectedRecipe.rating" [value]="5"> <h1>5</h1>
    </label>
    <label>
      <input type="radio" name="rating" [(ngModel)]="selectedRecipe.rating" [value]="6"> <h1>6</h1>
    </label>
    <label>
      <input type="radio" name="rating" [(ngModel)]="selectedRecipe.rating" [value]="7"> <h1>7</h1>
    </label>
    <label>
      <input type="radio" name="rating" [(ngModel)]="selectedRecipe.rating" [value]="8"> <h1>8</h1>
    </label>
    <label>
      <input type="radio" name="rating" [(ngModel)]="selectedRecipe.rating" [value]="9"> <h1>9</h1>
    </label>
    <label>
      <input type="radio" name="rating" [(ngModel)]="selectedRecipe.rating" [value]="10"> <h1>10</h1>
    </label>
  </form>
  <br>

  <!-- <div *ngIf="selectedRecipe">
    <h3>{{selectedRecipe.title}}</h3>
    <p>{{selectedRecipe.rating}}</p>
    <button type="button" class="btn btn-default">Change Rating</button>
  </div> -->

</div>
